/* Search Autocomplete */
.ui-autocomplete {
    background: #808080;
    border-radius: 0px;
    display: inline-block;
    padding: 10px;
}
.ui-autocomplete li {
	cursor: pointer;
	color: white;
	margin-bottom: 3px;
}
.ui-helper-hidden-accessible {
	display: none;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
        
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 100%;
}
    
/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}
    
/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height:auto;
	}
}

.well {
	background-color: white !important;
}

.error {
	color: red;
	font-size: 12.5px;
	font-style: italic;
}

#searchBox {
	height: 30px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: 14px;
	color: #555;
    line-height: 1.42857143;
	padding: 6px 12px;
}

/* SIDEBAR */
.sidebarCard {
	height: 165px;
}

.starsGivenSidebar {
	width: 100px;
	margin-bottom: 12px;
}

/* BODY CONTENT & CARD RESULTS PAGE*/
#body-content, #cardResults {
	padding-top: 20px;
}

.cardResultsImg {
	width: 100%;
}

#flipImg:hover {
	cursor: pointer;
}

.manaImg {
	width: 50px;
	margin: 0px 5px 10px 0px;
}

#starImg {
	width: 150px;
}

.addRightMargin {
	margin-right: 10px;
}

.d-inline-block {
	display: inline-block !important;
}

#addReviewBox {
	padding-bottom: 20px;
	background-color: #f1f1f1;
}

.starsGivenReview {
	width: 110px;
	margin-bottom: 15px;
}

/* SEARCH RESULTS & ACCOUNT PAGE*/
.searchResult, .myReviewResult {
	border-bottom: 1px solid #f1f1f1;
}

.searchCardImg, .searchCardInfo {
	display: inline-block;
}

.searchCardImg, .searchResult, .myReviewResult, #starImg {
	margin-bottom: 10px;
}

.acctCardImg {
	width: 130px;
	margin-bottom: 10px;
}

.starsGivenAccount {
	width: 150px;
	margin-bottom: 12px;
}